@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=League+Spartan:wght@100;200;300;400;500;600&family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:wght@200&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Dark-cyan);
    font-family: 'kumbh sans',sans-serif;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 350.3px;
    height: 400px;
    background-color: white;
    
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
}
.card-image{
    position: relative;
    z-index: 10;
}
.card-image img{
    position: absolute;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    top: -40px;
    left: 130px;
}

.card-content{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    gap: 20px;
}
svg {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    z-index: 5;
}
.text {
    position: absolute;
    top: 35px;
    left: 100px;
    display: flex;
    gap: 10px;
}
.text .name {
    font-weight: 700;
}
.city{
    position: absolute;
    top: 60px;
    left: 135px;
}
.line{
    position: absolute;
    color: black;
    border: 1px solid rgba(204, 190, 190, 0.479);
    width: 90%;
    margin: 0 auto;
    bottom: 2px;
    top: 160px;
    left: 20px;
}
.success{
    position: absolute;
    top: 130px;
    left: 20px;
    right: 20px;
    bottom: -270px;
    display: flex;
    
    align-items: center;
    text-align: center;
    gap: 70px;
}
